<#include "security.ftlh">
<#import "login.ftlh" as l>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>

            <form action="/search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" name="name">
            </form>

            <div class="text-end">
                <@l.logout />
            </div>
            <#if user??>
                <div class="navbar-text mr-3"> Hello, ${name}</div>
            </#if>
        </div>
    </div>
</header>